<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bigshark.smartlight">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />

    <!-- 高德地图权限 -->
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".SmartLightsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name="com.amap.api.location.APSService" />
        //高德地图导航
        <service
            android:name=".pro.index.service.BluetoothLeService"
            android:enabled="true" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="85f736f35d871e2de2aafa2d679a9015" />

        <activity
            android:name=".LaunchingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LaunchingTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pro.mine.view.LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".pro.mine.view.MarketActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".pro.mine.view.SetActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".pro.mine.view.ChangePswActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".pro.market.view.GoodDetailsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".pro.market.view.CarActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".pro.market.view.ConfirmOrederActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".pro.mine.view.MessgeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".pro.mine.view.RideActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".pro.mine.view.EquipmentActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".pro.mine.view.RegisteredActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity android:name=".IndexActivity" />
        <activity
            android:name=".pro.mine.view.FindPswActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".pro.mine.view.MineDetailsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".pro.mine.view.ModifyInfoActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".pro.mine.view.MineActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".pro.market.view.SelectAddressActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".pro.market.view.AddAndEditAddressActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".pro.market.view.PayActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".pro.index.view.ScanActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".pro.index.view.MapActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".pro.mine.view.OrderDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />

        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".wxapi.WXPayEntryActivity" />
        <activity android:name=".pro.index.view.EndConfirmActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".pro.mine.view.UpdateNumActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".pro.mine.view.MyOrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".pro.mine.view.RideDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity android:name=".pro.index.view.SpeedDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".pro.index.view.DeviceControlActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".pro.market.view.SearchGoodActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".pro.mine.view.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!--<activity android:name=".pro.index.view.NagivaActivity" />-->
        <!--<activity android:name=".pro.index.TestActivity"></activity>-->
    </application>

</manifest>